<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688738048762-bsoajktedcgscs3oafnhgq0cl5lhno4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688738048762-bsoajktedcgscs3oafnhgq0cl5lhno4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688738048762-qotja5c3du0b2q3gfns4jtgalajolnjk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3HerVAT_MNu5PdLkHzqUs9cy4Fpm4dGw</string>
	<key>GCM_SENDER_ID</key>
	<string>688738048762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoIdeaApp</string>
	<key>PROJECT_ID</key>
	<string>reelmind-app-d00f0</string>
	<key>STORAGE_BUCKET</key>
	<string>reelmind-app-d00f0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688738048762:ios:acaf570bbb258828b8c743</string>
	<key>DATABASE_URL</key>
	<string>https://reelmind-app-d00f0-default-rtdb.firebaseio.com</string>
</dict>
</plist>